USE [master]
GO
/****** Object:  Database [TasaBancarias]    Script Date: 04/02/2026 2:21:37 p. m. ******/
CREATE DATABASE [TasaBancarias]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TasaBancarias', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\TasaBancarias.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TasaBancarias_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\TasaBancarias_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TasaBancarias].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TasaBancarias]
GO
/****** Object:  Table [dbo].[Bancos]    Script Date: 04/02/2026 2:21:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bancos](
	[id_banco] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[tipo] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_banco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoricoTasas]    Script Date: 04/02/2026 2:21:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoTasas](
	[id_registro] [int] IDENTITY(1,1) NOT NULL,
	[id_banco] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_tipo_tasa] [int] NOT NULL,
	[fecha_registro] [date] NOT NULL,
	[tasa_porcentaje] [decimal](5, 2) NOT NULL,
	[plazo_meses] [int] NULL,
	[notas] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoProducto]    Script Date: 04/02/2026 2:21:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoProducto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[categoria] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTasa]    Script Date: 04/02/2026 2:21:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTasa](
	[id_tipo_tasa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_tasa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistoricoTasas]  WITH CHECK ADD FOREIGN KEY([id_banco])
REFERENCES [dbo].[Bancos] ([id_banco])
GO
ALTER TABLE [dbo].[HistoricoTasas]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[TipoProducto] ([id_producto])
GO
ALTER TABLE [dbo].[HistoricoTasas]  WITH CHECK ADD FOREIGN KEY([id_tipo_tasa])
REFERENCES [dbo].[TipoTasa] ([id_tipo_tasa])
GO
USE [master]
GO
